@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Sarabun:wght@400;600;700&display=swap');

:root{
   --Sarabun : 'Sarabun', sans-serif;
   --Quicksand: 'Quicksand', sans-serif;

}

*{
    padding: 0;
    margin: 0;
    font-family: var(--Sarabun);
}

body{
    line-height: 1.4;
    color: #36454F;
}



img{
    width: 100%;
    display: block;
}



.form .checkbox-text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #4070f4;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(image/Thailand-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.navbar{
    background-color: #33B864;
    padding: 1.2rem;
}

.navbar-brand{
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--Quicksand);
    letter-spacing: 1px;
}

.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}

.navbar-nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--Quicksand);
    letter-spacing:  1px;
    font-weight: 500;
    display: inline-block;
    color: #ffff;
    padding: 0.4rem 1rem;
    letter-spacing: 2px;
    transition: opacity 0.5s ease;
}

.navbar-nav a:hover{
    opacity: 0.7;
    color: #1A1110;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.banner-title{
    font-size: 3rem;
    font-family: var(--Quicksand);
    line-height: 1.2;
}

.banner-title span{
    font-family: var(--Quicksand);
}

.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Sarabun);
    font-weight: 300;
    word-spacing: 2px;
}

.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}

.search-input{
    font-family: var(--Sarabun);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}

.search-input::placeholder{
    text-transform: capitalize;
}

.search-btn{
    width: 40px;
    font-size: 1.1rem;
    background: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
}

/* gallery */
.gallery{
    padding: 4.5rem 0;
}

.title{
    text-align: center;
}

.title h2{
    font-family: var(--Quicksand);
    font-size: 2.4rem;
}

.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}

.gallery-content{
    margin: 2rem 0;
}

.gallery-item{
    cursor: pointer;
    margin: 1.5rem 0;
}

.gallery-img{
    position: relative;
    overflow: hidden;
}

.gallery-img::after{
    position: relative;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.gallery-img img{
    transition: all 0.5 ease;
}

.gallery-item:hover img{
    transform: scale(1.2);
}

.gallery-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    color: #fff;
    padding: 0.25rem 1rem;
}

.gallery-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}

.photo-title{
   padding: 1rem;
   font-size: 1.2rem;
   text-align: center;
   width: 70%;
   margin: 0 auto;
}

.photo-title p{
    text-transform: capitalize;
    font-family: var(--Quicksand);
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    max-width: 1200px;
    width: 100%;
}


/* login and register site */

.body-login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #33B864; 
}

.body-login .login-register-container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
}

.login-register-container .form{
    padding: 30px; 
}

.login-register-container .form .title{
    
    position: relative;
    font-size: 27px;
    font-weight: 700;
}

.form .input-field{
    
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    font-size: 16px;
}

.form .button{
    margin-top: 30px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a.text:hover{
    text-decoration: underline;
}

.form .button input{
    color: #fff;
    letter-spacing: 1px;
    background-color: #1AA1A1;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}


@media screen and (min-width: 540px) {
    .card-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .gallery-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    .card-grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .card{
        list-style: none;
        position: relative;
    }

    
}